body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  h1 {
    text-align: center;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration-color: aliceblue;
    background-color: #d78f8f93;
    backdrop-filter: blur(8px);
    padding: 20px 0;
    margin: 0;
  }
  
  p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgba(180, 197, 226, 0.671);
    outline: #020101;
    font-size: 20px;
    color: rgb(25, 11, 39);
  }
  
  #container {
    text-align: center;
    margin: 20px 0;
  }
  
  #taskInput {
    padding: 10px;
    width: 300px;
  }
  
  #addButton {
    padding: 10px 20px;
  }
  
  #taskList {
    list-style-type: none;
    padding: 0;
  }
  
  #taskList li {
    margin: 10px 0;
    background-color: #d1a5da;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .deleteButton {
    background-color: #ff6666;
    color: white;
    border:black;
    padding: 5px 10px;
    cursor: pointer;
  }
  